.App
{
    text-align: center;
    background-color: #FF504D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.avatar
{
    width: 120px;
}

.ant-layout
{
    background: inherit !important;
}

.ant-layout-content
{
    max-width: 600px;
}

.ant-layout-header
{
    background: inherit !important;
    height: auto !important;
    margin: 40px auto;
}

.ant-layout-header h1
{
    font-size: 6rem;
    color: #FFDF59 !important;
    font-family: bangers;
}

#input-name-player
{
    height: 120px;
    background-color: #FF504D;
    color: #FFDF59 !important;
    font-size: 3rem;
    font-family: bangers;
    border: 0;
    border-bottom: 1px solid #FFDF59;
}

#input-name-player::placeholder
{
    color: #FFDF59 !important;
    text-align: center;
}

#button-fight
{
    background-color: #FFDF59;
    border-color: #FFDF59;
    color: #FF504D;
    font-size: 1.3rem;
    font-family: bangers;
    height: 50px;
    width: 150px;
}

.row-round
{
    line-height: 1.8rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    color: #434343;
    padding: 20px;
}

#row-round1
{
    background-color: #ffefad;
}

#row-round2
{
    background-color: #ffe788;
}

#row-round3
{
    background-color: #FFDF59;
    margin-bottom: 50px;
}