.App
{
    text-align: center;
    background-color: #FF504D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.avatar
{
    width: 150px;
}

.ant-layout-header
{
    color: #FFDF59;
}